<%# <% if Helpers.is_logged_in?(session) %> 
<% if logged_in?%>

<%= @error %>
  <form action='/tweets' method="post">
    Content:
    <input type="text" name="content" id="content"><br>
    Create Your Tweet:

    <input type="text" name="create your tweet" id="create your tweet">

    <input type="submit" value="submit">
  </form>

  <% else %>
      <h1> You Must Be Logged in to Make Tweets </h1>
  <% end %>
