<h1>Sign Up for Fwitter</h1>

<form method = "POST" action = "/signup">
  <p>Create a Username: <input type = "text" name = "username" id = "username"></p>
  <p>Enter Your Email: <input type = "text" name = "email" id = "email"></p>
  <p>Create a Password: <input type = "text" name = "password" id = "password"></p>
  <input type = "submit" name = "Sign Up" id = "submit">
</form>
