<form action="/signup" method="post">
   <h3>Username: <input type="text" name="username" id="username" placeholder="username"></h3>
   <h3>Email: <input type="email" name="email" id="email" placeholder="@eg.com"></h3>
   <h3>Password<input type="password" name="password" id="password" placeholder="password"></h3>
   <input type="submit" value="submit" >
</form>