<form action='/signup' method='POST'>
  <h2><label for='username'>Username:</label></h2>
  <input type='text' name='username' id='username' placeholder="Your Name Here">
  <h2><label for='email'>Email:</label></h2>
  <input type='text' name='email' id='email' placeholder="user@user.com">
  <h2><label for='username'>Password:</label></h2>
  <input type='text' name='password' id='password' placeholder="Enter Secure Password">
  <input type='submit' value='submit'>
</form>